<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382832231790-ivlsc4s8imr2q57i1k5ms7dasnirmk2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382832231790-ivlsc4s8imr2q57i1k5ms7dasnirmk2f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>382832231790-0403k1opssrrghe6dqc353hp3bl2bot6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoY01_eWM9Bm7KXURZEHxbDFXtk9oMHlI</string>
	<key>GCM_SENDER_ID</key>
	<string>382832231790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inceptory.deliveryOnTime</string>
	<key>PROJECT_ID</key>
	<string>deliveryontime-53727</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryontime-53727.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382832231790:ios:03852def5b6bae54996d7f</string>
	<key>DATABASE_URL</key>
	<string>https://deliveryontime-53727.firebaseio.com</string>
</dict>
</plist>